name: Documentation PR checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  packages: read

jobs:
  conventional_commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Verify Conventional commit standards against latest git tag
        run: cog check -l
        shell: bash

  prose_linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Run vale prose linting
        uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c # v2.1.1
        with:
          fail_on_error: true
          reporter: github-pr-check
          version: latest

  gradle_linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Run linting associated with Gradle
        run: |
          ./scripts/lint/gradle

  unit_tests_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Run unit tests
        run: |
          ./scripts/test/unit
      - name: Upload unit test coverage report
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: unit-test-coverage
          path: |
            **/build/outputs/unit_test_code_coverage/**/*.exec
            **/build/reports/coverage/test/debug/*.xml

  instrumentation_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Run instrumentation tests
        run: |
          ./scripts/test/instrumentation --no-configuration-cache
      - name: Upload instrumentation test coverage report
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: instrumentation-test-coverage
          path: |
            **/build/outputs/managed_device_code_coverage/**/*.ec
            **/build/reports/coverage/androidTest/**/*.xml

  sonar_scan:
    runs-on: ubuntu-latest
    needs: [unit_tests_job, instrumentation_tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/android-setup
      - name: Download unit test coverage
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #v7.0.0
        with:
          name: unit-test-coverage
      - name: Download instrumentation test coverage
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #v7.0.0
        with:
          name: instrumentation-test-coverage
      - name: Assemble for Sonar scan
        run: |
          ./scripts/compilePackagesForSonar
      - name: Sonar scan
        uses: ./mobile-android-pipelines/actions/sonar-scan
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
